$-side-bar-width: 300px;

$-blue: #2484FF;
$-dark: #151924;
$-dark-3:#313542;
$-dark-3-4: rgba(49, 53, 66, 0.4);
$-dark-3-2: rgba(49, 53, 66, 0.2);
$-dark-4: #707889;
$-gray-1: #888;
$-gray-2: #9ba5bb;
$-gray: #e1e4ed;
$-red: #e05b74;
$-purple: #5628ee;
$-purple-2:  #877ff1;
$-yellow: yellow;

$-default-font: 'Da Lat';
$-montserrat-font: 'Montserrat'