/*font Variables*/
$default-font: "Montserrat", sans-serif;;

/*WIDTH*/
$default-page-width: 980px;

/*Color Variables*/
$primary-color  : #1345e6;
$primary-color2 : #ed239f;
$title-color    : #05364d;
$text-color     : #797979;
$offwhite       : #f8faff;
$white          : #fff;

$dark-1: #333;
$dark-2: #404852;
$dark-3: #414141;
$dark-5: #888;
$dark-6: #77808d;
$dark-7: #1d1d1f;
$black-1: #515154;
$gray-1: #eae8e4;
$gray-2: #f8faff;
$gray-3: #fbfbfd;
$gray-4: #f5f5f7;
$gray-purple: #ede8fa;
$gray-orange: #fdedee;
$gray-pink: rgba(255, 115, 150, 0.158);
$purple-1:#9474e4;
$orange-1: #fa887d;
$pink-1: #ff7395;
$blue-1: #06c;

/*MARGIN*/
$section-margin-top: 128px;
